# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.zip
*.tar.gz
*.rar

# Generated Sources
target

# IDE Files
.idea
# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
.terraform.lock.hcl