apiVersion: apps/v1
kind: Deployment
metadata:
  name: esewa-app
  namespace: esewa-namespace
spec:
  replicas: 2
  selector:
    matchLabels:
      app: esewa-app
  template:
    metadata:
      labels:
        app: esewa-app
    spec:
      imagePullSecrets:
      - name: dockerhub-secret
      containers:
      - name: esewa-app
        image: sudarshanuprety/esewa:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /api/health
            port: 8080
          initialDelaySeconds: 90
          periodSeconds: 60
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /api/health
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 60
          timeoutSeconds: 5
          failureThreshold: 3